@layer base {
    :root {
        --ds-blue-100: oklch(97.32% 0.0141 251.56);
        --ds-blue-700: oklch(57.61% 0.2508 258.23);
        --ds-blue-1000: oklch(26.67% 0.1099 254.34);
        --ds-red-100: oklch(96.5% 0.0223 13.09);
        --ds-red-600: oklch(71.12% 0.1881 21.22);
        --ds-red-1000: oklch(24.8% 0.1041 18.86);
        --ds-amber-100: oklch(97.48% 0.0331 85.79);
        --ds-amber-700: oklch(81.87% 0.1969 76.46);
        --ds-amber-1000: oklch(30.83% 0.099 45.48);
        --ds-green-100: oklch(97.59% 0.0289 145.42);
        --ds-green-700: oklch(64.58% 0.1746 147.27);
        --ds-green-1000: oklch(29.15% 0.1197 147.38);
        --ds-teal-100: oklch(97.72% 0.0359 186.7);
        --ds-teal-700: oklch(64.92% 0.1572 181.95);
        --ds-teal-1000: oklch(32.11% 0.0788 179.82);
        --ds-purple-100: oklch(96.65% 0.0244 312.1890119359961);
        --ds-purple-700: oklch(55.5% 0.3008 306.12);
        --ds-purple-1000: oklch(23.96% 0.13 305.66);
        --ds-pink-100: oklch(95.69% 0.0359 344.6218910697224);
        --ds-pink-700: oklch(63.52% 0.238 1.01);
        --ds-pink-1000: oklch(26% 0.0977 359);
        --ds-gray-100: hsla(0, 0%, 95%, 1);
        --ds-gray-200: hsla(0, 0%, 92%, 1);
        --ds-gray-700: hsla(0, 0%, 56%, 1);
        --ds-gray-900: hsla(0, 0%, 40%, 1);
        --ds-gray-1000: hsla(0, 0%, 9%, 1);
        --ds-gray-alpha-400: hsla(0, 0%, 0%, 0.08);
        --ds-background-100: hsla(0, 0%, 100%, 1);
        --ds-background-200: hsla(0, 0%, 98%, 1);
        --geist-success: #0070f3;
        --accents-1: #fafafa;
        --accents-2: #eaeaea;
        --accents-5: #666666;
        --geist-secondary: var(--accents-5);
        --ds-toggle-ring: 0 0 4px rgba(0, 0, 0, .12), 0 1px 1px rgba(0, 0, 0, .16);
    }

    .dark {
        --ds-blue-100: oklch(22.17% 0.069 259.89);
        --ds-blue-700: oklch(57.61% 0.2321 258.23);
        --ds-blue-1000: oklch(96.75% 0.0179 242.4234217368056);
        --ds-red-100: oklch(22.1% 0.0657 15.11);
        --ds-red-600: oklch(62.56% 0.2277 23.03);
        --ds-red-1000: oklch(95.6% 0.0293 6.61);
        --ds-amber-100: oklch(22.46% 0.0538 76.04);
        --ds-amber-700: oklch(81.87% 0.1969 76.46);
        --ds-amber-1000: oklch(96.7% 0.0418 84.59);
        --ds-green-100: oklch(23.09% 0.0716 149.68);
        --ds-green-700: oklch(64.58% 0.199 147.27);
        --ds-green-1000: oklch(96.76% 0.056 154.18);
        --ds-teal-100: oklch(22.1% 0.0544 178.74);
        --ds-teal-700: oklch(64.92% 0.1403 181.95);
        --ds-teal-1000: oklch(96.46% 0.056 180.29);
        --ds-purple-100: oklch(22.34% 0.0779 316.87);
        --ds-purple-700: oklch(55.5% 0.2186 306.12);
        --ds-purple-1000: oklch(96.1% 0.0304 316.46);
        --ds-pink-100: oklch(22.67% 0.0628 354.73);
        --ds-pink-700: oklch(63.52% 0.2346 1.01);
        --ds-pink-1000: oklch(95.74% 0.0326 350.08);
        --ds-gray-100: hsla(0, 0%, 10%, 1);
        --ds-gray-200: hsla(0, 0%, 12%, 1);
        --ds-gray-700: hsla(0, 0%, 56%, 1);
        --ds-gray-900: hsla(0, 0%, 63%, 1);
        --ds-gray-1000: hsla(0, 0%, 93%, 1);
        --ds-gray-alpha-400: hsla(0, 0%, 100%, 0.14);
        --ds-background-100: hsla(0, 0%, 4%, 1);
        --ds-background-200: hsla(0, 0%, 0%, 1);
        --accents-1: #111111;
        --accents-2: #333333;
        --accents-5: #888888;
        --geist-secondary: var(--accents-5);
    }
}
